<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="excel-1" value="C:\Проекты\Excel\Acron.Reports\Grouping\test.xlsx"/>
    <add key="excel-2" value="C:\Проекты\Excel\Acron.Reports\Grouping\test-0.xlsx"/>
    <add key="user" value="testuser"/>
    <add key="password" value="testpassword"/>  
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    
    <services>
      <service name="ExcelReportingServiceLib.ExcelReportingService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="ExcelReportingServiceLib.IExcelReportingService" behaviorConfiguration="webHttpServiceBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2585/ExcelReportingService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">  
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />  
          <serviceDebug includeExceptionDetailInFaults="false" /> 
          <serviceAuthorization serviceAuthorizationManagerType="ExcelReportingServiceLib.BasicAuthorizationManager, ExcelReportingServiceLib"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>  
        <behavior name="webHttpServiceBehavior">  
            <!-- Important this is the behavior that makes a normal WCF service to REST based service-->  
            <webHttp/>  
        </behavior>  
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
