<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="excel-1" value="C:\Проекты\Excel\Acron.Reports\Grouping\test.xlsx"/>
    <add key="excel-2" value="C:\Проекты\Excel\Acron.Reports\Grouping\test-0.xlsx"/>
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- При развертывании проекта библиотеки службы содержимое файла конфигурации необходимо добавить в файл 
  app.config компьютера размещения. Пространство имен System.Configuration не поддерживает файлы конфигурации для библиотек. -->
  <system.serviceModel>
    <services>
      <service name="ExcelReportingServiceLib.ExcelReportingService">
        <endpoint address="" binding="basicHttpBinding" contract="ExcelReportingServiceLib.IExcelReportingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2585/ExcelReportingService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующему параметру значение "false". -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, 
          установите значение true для приведенного ниже параметра.  Перед развертыванием установите значение false, 
          чтобы избежать раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
